apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-example
spec:
  replicas: 1
  selector:
    matchLabels:
      app: springboot-example
  template:
    metadata:
      labels:
        app: springboot-example
    spec:
      containers:
        - name: springboot-example
          image: gcr.io/qwiklabs-gcp-03-7166acc65dae/spring-hello:latest
          ports:
            - containerPort: 8080
---
  kind: Service
  apiVersion: v1
  metadata:
    name: example-app-service
    labels:
      name: example-app-service
  spec:
    ports:
      - port: 8080
        targetPort: 8080
        protocol: TCP
    type: LoadBalancer
    selector:
      app: springboot-example
      version: "1.0"